html,body {
	height:100%;
}

.section {
	width:100%;
	height:100%;
	background: white;
	color:black;
	text-align: center;
	display: none;
}

#address h1 {
	font-size: 1.066667rem;
}

.city-name {
	font-size: 1.066667rem;
}

#keyword {
	width:100%;
	box-sizing: border-box;
	height: 2rem;
    margin-top: 1rem;
}

#list li  {
	width: 100%;
	line-height: 2rem;
	height: 2rem;
	border-bottom: 1px solid black;
	font-size: 20px;
	overflow: hidden;
	text-align: center;
}

.section a {
	color:#000;
}


/*城市列表页*/
#citylist .header {
	height:1.877333rem;
	line-height: 1.877333rem;
	background:#3199e8;
	font-size: 0.426667rem;
	color:#fff;
	text-align: right;
	padding:0 0.426667rem;
}

#citylist .header span {
	float:left;
	font-weight: 400;
	font-size: 0.853333rem;
}

#citylist .header a {
	color:#fff;
	padding:0 0.213333rem;
	font-size: 0.426667rem; 
}

#citylist .now-city {
	height:3.754667rem;
	box-sizing: border-box;
	margin-top: 0.426667rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    
}

#citylist .now-city p {
	height:1.706667rem;
	line-height: 1.706667rem;
	box-sizing: border-box;
	border-bottom: 1px solid #eee;
	font-size: 0.6rem;
	padding:0 0.426667rem;
	color:#666;
	text-align: left;
}

#citylist .now-city p span {
	float: right;
	font-size: 0.256rem;
	color:#999;
}

#citylist .now-city h1 {
	text-align: left;
	padding:0 0.426667rem;
	font-size: 0.853333rem;
	line-height:1.877333rem;
	color: #08c;
	font-weight: 700;
}

#citylist .now-city h1 span {
	float: right;
	font-size: 1.066667rem;
	color:#eee;
}

#citylist h2 {
	width:100%;
	box-sizing: border-box;
	padding-left:0.426667rem;
	height:1.706667rem;
	line-height: 1.706667rem;
	text-align: left;
	margin-top: 0.426667rem;
	font-size: 0.6rem;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #eee;
	color:#666;
}

#citylist ul {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
}

#citylist li {
	box-sizing: border-box;
    width: 25%;
    height: 1.877333rem;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    text-align: center;
    line-height: 1.877333rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.682667rem;
}

#citylist .hot-list a {
	 color: #08c;
}

#citylist .item a {
    color: #555;
}

#citylist .item span {
	font-size: 0.256rem;
    color: #999;
}


/*餐厅列表页*/
#rlist{
	background-color: #f4f4f4;
	height: auto;
}

#rlist .header {
	height:1.877333rem;
	line-height: 1.877333rem;
	background:#3199e8;
	font-size: 0.746667rem;
	padding:0 0.64rem;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

#rlist .header a {
	color:#fff;
}

#rlist .header a img {
	width:0.64rem;
	height: 0.64rem;
}

#rlist .header .detail-addr {
	width:8.96rem;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/*轮播图*/
.swipe{
    overflow: hidden;
    position:relative;
}
.swipe-wrap{
    overflow:hidden;
    position:relative;
}
.swipe-wrap > div {
    float: left;
    width: 100%;
    height: 6.058667rem;
    position:relative;
}
#position{
   position: absolute;
   bottom: 0rem;
   left: 0;
   .rem(margin-top, 20rem);
   .rem(margin-bottom, 10rem);
   margin: 0;
   opacity: 0.4;
   width: 100%;
   filter: alpha(opacity=50);
   text-align: center;
}
/*小数点布局 */
#position li{
      width: 0.32rem;
      height: 0.32rem					;
      margin: 0 8px;
      display: inline-block;
      -webkit-border-radius: 0.64rem;
      border-radius: 50%;
      background-color: #CAC2C2;
}
#position li.cur{
    background-color: black;
}


.swipe-wrap {
	padding-bottom: 1.493333em;
	background: #fff;
}

.swipe-wrap a {
	display: block;
	float: left;
	width:25%;
	margin-top: 0.426667rem;
}

.swipe-wrap .container {
	display: inline-block;
	width:1.92rem;
	height:1.92rem;
}

.swipe-wrap img {
	width: 100%;
	height: 100%;
}

.swipe-wrap span {
	display: block;
	margin-top: .133333rem;
	height:0.512rem;
	color: #666;
	font-size: .32rem;
}
/*
.swiper-pagination {
    position: absolute;
    bottom: 0;
}

.swiper-pagination .swipe-indicator {
    float:left;
    width:0.32rem;
    height:0.32rem;
    border-radius: 50%;
    background: #fff;
    opacity: .2;
    margin: 0 0.064rem;
}*/

.index-title {
    margin-top: 0.426667rem;
    line-height: 1.450667rem;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    color: #999;
    font-size: .346667rem;
    padding-left: 0.64rem;
    text-align: left
}

.index-title span {
	display: inline-block;
    margin-right: .106667rem;
    width: 0.64rem;
    height: 0.64rem;
    margin-right:0.170667rem
}

.index-title span img{
	width:100%;
	height:100%
}

.shoplist {
    background-color: #fff
}

.item-list {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	padding: 0.64rem 0.426667rem;
	border-bottom: 1px solid #eee;
}

.left-wrap {
	width: 2.56rem;
	height: 2.56rem;
	margin-right: 0.426667rem;
}

.left-wrap img {
	width: 100%;
	height: 100%;
}

.right-wrap {
	width: 13.013333rem;
	height: 2.56rem;
}

.line {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: space-between;
}

.line h3 {
	overflow: hidden;
	max-width: 8.0rem;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700;
	font-size: 0.65rem;
	line-height: 0.682667rem;
}

.brand{
	height: .4rem;
	padding: 0 .066667rem;
	margin-right: 0.32rem;
	background: #ffd930;
	color: #52250a;
	text-align: center;
	font-weight: 700;
	font-size: 0.170667rem;
	line-height: .4rem;
	border-radius: .053333rem;
}

.line i {
	font-style: normal;
	padding: 0.064rem;
	border: 1px solid rgb(221, 221, 221);
	color: rgb(153, 153, 153);
	font-size: 0.106667rem;
	border-radius: 0.106667rem;
	box-sizing: border-box;
}

.line:nth-child(2) {
	margin-top: 0.32rem;
	line-height: 0.618667rem;
}

.line:nth-child(3) {
	margin-top: 0.362667rem;
	line-height: 0.512rem;
	font-size: .293333rem;
}

.left {
	font-size: .293333rem;
	color: #666;
}

.rate {
	margin: 0 .106667rem;
	color: #ff6000;
}

.left em,.info-d-t em {
	font-style: normal;
	margin: 0 .08rem;
	color: #ddd;
}

.info-send {
	font-size: 0.170667rem;
}

.info-send .fniao {
	padding: .053333rem;
	border-radius: 0.106667rem;
	color: #fff;
	background-color: #2395ff;
}

.info-send .zsd {
	margin-left: 0.213333rem;
	padding: 0 .053333rem;
	border: 1px solid #44a5ff;
	border-radius: 0.106667rem;
	box-sizing: border-box;
	background-color: #fff;
	color: #2395ff;
}

.distance {
	color: #999;
}

.time {
	color: #2395ff;
}

.shoplist:after {
	content: '正在加载更多商家...';
	height: 1.536rem;
	line-height: 1.536rem;
	color: #999;
}

body .overlist:after {
	content: '无更多商家';
}

/*餐厅详情页*/
#detail .detail-wrap {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}
#detail .shopcar {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.133333rem;
	background: #3d3d3f;
	opacity: .95;
	display: flex;
}
#detail .car {
	position: relative;
	width: 3.413333rem;
}
#detail .car .icon-car {
	margin: 0 0.426667rem;
	display: block;
	position: absolute;
	bottom: 0.426667rem;
	width: 2.474667rem;
	height: 2.474667rem;
	background: #363636 url(../img/car.png) no-repeat center;
	background-size: 1.28rem 1.28rem;
	border: 3px solid #444;
	box-sizing: border-box;
	border-radius: 50%;
}
#detail .money-info {
	flex: 1; 
	text-align: left;
	font-size: 0.746667rem;
	color: #fff;
	line-height: 1rem;
}
#detail .money-info .send-info {
	font-size: 0.256rem;
}
#detail .topay {
	width: 4.266667rem;
	color: #fff;
	font-size: 0.64rem;
	font-weight: 600;
	background-color: #535356;
	line-height: 2.133333rem;
}
#detail .shop-header {
	background-image: url("https://fuss10.elemecdn.com/7/d3/48a777a6b444dc317cc24d101220cjpeg.jpeg?imageMogr/quality/80/format/webp/thumbnail/!40p/blur/50x40/");
	position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.16rem;
    background-color: #3190e8;
    background-size: cover;
    background-repeat: no-repeat;
}
#detail .shop-header:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(119,103,137,.43);
}
#detail .header-main {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	height: 2.474667rem;
	padding: 0.426667rem 0;
	position: absolute;
}
#detail .header-main img {
	width: 2.432rem;
	height: 2.432rem;
	border: 1px solid #fff;
	border-radius: 0.213333rem;
	margin-left: 0.64rem;
	margin-right: 0.426667rem;
}
#detail .shop-info {
	width: 10.666667rem;
	color: #fff;
	font-size: .293333rem;
	white-space: nowrap;
	text-align: left;
}
#detail .shop-info h1 {
	font-size: 0.746667rem;
	font-weight: 700;
	height: 0.853333rem;
}
#detail .shop-info p {
	height: 0.746667rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 0.106667rem;
}
#detail .shop-info .split {
	opacity: .5;
	margin: 0 0.213333rem;
}
/*#detail .shop-info .sale {
	display: block;
	float: left;
	width: 0.64rem;
	height: 0.64rem;
	margin-right: .133333rem;
	font-size: 0.213333rem;
	font-style: normal;
	box-sizing: border-box;
	text-align: center;
	padding: 0.064rem;
	background-color: rgb(240, 115, 115);
}*/
#detail .header-tip {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	position: absolute;
	bottom: 0;
	height: 0.853333rem;
	line-height: 0.853333rem;
	color: hsla(0,0%,100%,.8);
	background-color: rgba(0,0,0,.15);
}
#detail .header-tip p {
	width: 12.8rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 0.426667rem;
}
#detail .tolded {
	display: inline-block;
	padding: 0 .053333rem;
	height: .7rem;
	line-height: .7rem;
	margin-top: 0.106667rem;
	margin-left: 0.426667rem;
	background-color: hsla(0,0%,100%,.8);
	color: #666;
	border-radius: .053333rem;
	margin-right: .133333rem;
}
#detail .shopnav {
	height: 1.941333rem;
	line-height: 1.941333rem;
	font-size: 0.32rem;
	color: #666;
	text-align: center;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
}
#detail .shopnav p{
	width: 50%;
	float: left;
}
#detail .span-active {
	color: #3190e8;
	border-bottom: 2px solid #3190e8;
}
#detail .shop-content {
	display: flex;
	display: -webkit-flex;
	width: 100%;
	flex: 1;
}
#detail .cont-left {
	height: auto;
	width: 3.626667rem;
	background: #f8f8f8;
	position: relative;
	overflow: hidden;
}
#detail .leftnav:after,.cont-right:after {
	content: '';
	height: 2.133333rem;
	display: block;
	overflow: hidden;
	clear: both;
}
#detail .right-wrap {	
	flex: 1;
	height: auto;
	position: relative;
	overflow: hidden;
}
#detail .cont-left li {
	padding: .8rem .4rem;
    border-bottom: 1px solid #ededed;
    font-size: 0.597333rem;
    color: #666;
    text-align: left;
    box-sizing: border-box;
    border-left: 2px solid #ededed;
}
#detail li.cont-left-active {
	background: #fff;
	font-weight: bolder;
	border-left: 2px solid #3190e8;
}
#detail .singleItem {
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
}
#detail .singleItem h2 {
	height: 1.344rem;
	line-height: 1.344rem;
	text-align: left;
	padding-left: 0.426667rem;
	font-size: 0.64rem;
	font-weight: 700;
	color: #666;
	background-color: #f1f1f1;
}
#detail .singleItem h2 .description {
	font-size: 0.213333rem;
	font-weight: normal;
	margin-left: 0.426667rem;
}
#detail .food-item {
	padding: 0.64rem 0.426667rem;
}
#detail .food-img {
	float: left;
	width: 2.197333rem;
	padding-top: 0.426667rem;
	margin-right: 0.426667rem;
}
#detail .food-img img {
	width: 100%;
}
#detail .food-info {
	overflow: hidden;
	text-align: left;
}
#detail .food-info h2 {
	height: 1rem;
	line-height: 1rem;
	width: 8.533333rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: #fff;
	color: #333;
	padding-left: 0;
}
#detail .food-info p {
	margin: .133333rem 0;
	font-size: .253333rem;
}
#detail .incloud {
	color: #999;
}
#detail .month-sale span {
	margin-left: 0.32rem;
}
#detail .price {
	font-size: .253333rem;
	color: #999;
	height: 1.237333rem;
}
#detail .price i {
	font-style: normal;
	font-size: 0.256rem;
	margin-top: 0.213333rem;
	color: #f60;
	line-height: 1.5rem;
}
#detail .price .pri {
	font-weight: 700;
	font-size: 0.746667rem;
}
#detail .count {
	float: right;
	height: 1.237333rem;
	line-height: 1.237333rem;
}
#detail .count span {
	display: inline-block;
	vertical-align: middle;
	width: 0.938667rem;
	height: 0.938667rem;
	line-height: 0.746667rem;
	border: 1px solid #3190e8;
	border-radius: 50%;
	text-align: center;
	font-size: 24px;
	color: #3190e8;
}
#detail .count .minus {
	display: none;
}
#detail .count .plus {
	border: 1px solid #fff;
	background: #3190e8;
	color: #fff;
}
#detail .count em {
	padding: 0.213333rem 0.213333rem;
	font-style: normal;
	color: #666;
	font-size: 0.64rem;
}

