/*城市搜索页*/

#address h1 {
	font-size: 1.066667rem;
}

.city-name {
	font-size: 1.066667rem;
}

#keyword {
	width:100%;
	box-sizing: border-box;
	height: 2rem;
    margin-top: 1rem;
}

#list li  {
	width: 100%;
	line-height: 2rem;
	height: 2rem;
	border-bottom: 1px solid black;
	font-size: 20px;
	overflow: hidden;
	text-align: center;
}